:root {
    --header-size: 22px;
}

body {
    margin: 2%;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 5px;
    /* position: sticky; */
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
/* here's a comment*/

a:hover {
    text-decoration: underline;
}

#background-picture {
    background-image: url('back-pic.jpg');
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20%;
}

#pic {
    width: 100%;
    height: 80%;
}

#restaurant {
    margin-top: -130px;
    color: white;
}

#menu {
    margin-top: 110px;
}

h1 {
    text-align: center;
    font-size: var(--header-size);
}